html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #fcf8f2;
  background-image: url(../public/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
